.blog {
    overflow: hidden;
    background: #f8f8f8;
    margin-bottom: 150px;

    &__wrapper {
        width: 1204px;
        margin: 0 auto;
        padding: 69px 0 0 0;
    }

    &__title {
        font-weight: 800;
        font-size: 48px;
        line-height: 145%;
        color: rgba(0, 0, 0, 0.85);
        margin-bottom: 50px;
    }

    .slick-slider{
        position: relative;
        height: 100%;
        margin: 0;

        @media (max-width: 1400px) {
            margin: 0 100px;
        }

        @media (max-width: 1200px) {
            margin: 0 50px;
        }

        @media (max-width: 1000px) {
            margin: 0;
        }
    }

    /* Слайдер запущен */
    .slick-slider.slick-initialized{}

    /* Слайдер с точками */
    .slick-slider.slick-dotted{}

    .slick-slider.slick-prev {
        position: absolute;
        top: 0;
        left: 0;
    }

    /* Ограничивающая оболочка */
    .slick-list {
        overflow: hidden;
        margin: 0 auto;
    }

    /* Лента слайдов */
    .slick-track{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 40px;
    }

    /* Слайд */
    .slick-slide{
        overflow: hidden;
        height: auto;

        &:not(:first-child) {
            margin-left: 52px;
        }
        
        img {
            width: 100%;
        }
    }

    .slider {
        position: relative;
    }
}