.creative {
    overflow: hidden;

    &__title {
        @include second-title;
        margin-bottom: 10px;
    }

    &__title-description {
        font-weight: 400;
        font-size: 32px;
        line-height: 145%;
        color: $gray-text;
        margin-bottom: 30px;
    }

    &__list {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: space-between;
        gap: 0 20px;

    }

    &__item {
        width: 583px;
        background-color: aqua;

        
    }

    &__item:nth-child(3),
    &__item:nth-child(4) {
        margin-bottom: 20px;
    }
}