.header {
    overflow: hidden;
    margin-bottom: 13px;

    &__wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 30px 73px;
    }

    &__content {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 455px;
    }

    &__link {
        position: relative;
        display: block;
        padding: 5px 5px 5px 36px;
        font-size: 20px;
        line-height: 145%;

        &::before {
            position: absolute;
            top: 6px;
            left: -2px;
            content: "";
            background-image: url("../img/header/frame.svg");
            width: 25px;
            height: 25px;
            background-size: 25px 25px;
            background-repeat: no-repeat;
        }
    }

    &__profile {
        position: relative;
        display: block;
        padding: 3px 52px 0px 19px;
        font-size: 20px;
        line-height: 145%;
        font-weight: 500;
        border: 2px solid $black;
        border-radius: 37px;

        &::after {
            position: absolute;
            top: 4px;
            right: 18px;
            content: "";
            background-image: url("../img/header/profile.svg");
            width: 25px;
            height: 25px;
            background-size: 25px 25px;
            background-repeat: no-repeat;
        }
    }
    
}

@media (max-width: $tablet-width) {
    .header {
       
    }
}