.stages {
    overflow: hidden;
    margin-bottom: 226px;

    &__wrapper {
        background: linear-gradient(218deg, rgba(0, 13%, 95%, 0.08) 0%, rgba(112, 0, 255, 0.08) 30%, rgba(0, 255, 240, 0.08) 60%, rgba(0, 255, 240, 0.08) 100%);
    }


    &__title {
        @include second-title;
        margin-bottom: 10px;
    }

    &__title-description {
        font-weight: 400;
        font-size: 32px;
        line-height: 145%;
        color: rgba(0, 0, 0, 0.5);
        margin-bottom: 29px;
    }

    &__list {
        display: flex;
        flex-flow: column nowrap;
        padding: 0 0 50px 20px;
    }

    &__item {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        max-width: 1167px;
        padding: 27px 31px;
        background-color: $white;
        border-radius: 25px;

        &:not(:last-child) {
            margin-bottom: 32px;
        }

        &::before {
            position: absolute;
            top: 79px;
            left: -21px;
            content: "";
            background-image: url("../img/main/stages/circle.svg");
            width: 36px;
            height: 36px;
            background-size: contain;
        }

        &:not(:last-child):after {
            position: absolute;
            top: 123px;
            left: -21px;
            content: "";
            background-image: url("../img/main/stages/chain.svg");
            width: 10px;
            height: 175px;
            background-size: contain;
        }
    }

    &__item-description {
        flex-shrink: 0;
        width: 570px;
        margin-right: 80px;
    }

    &__item-title {
        font-weight: 600;
        font-size: 24px;
        line-height: 145%;
        color: rgba(0, 0, 0, 0.85);
        margin-bottom: 20px;
    }

    &__item-text {
        font-weight: 400;
        font-size: 20px;
        line-height: 145%;
        color: rgba(0, 0, 0, 0.5);
    }

    &__item-format {
        width: 160px;
        margin-right: 82px;
    }

    &__item-type {
        font-weight: 400;
        font-size: 20px;
        line-height: 145%;
        color: rgba(0, 0, 0, 0.5);
        padding-top: 4px;
        margin-bottom: 9px;
    }

    &__item-type-of {
        font-weight: 600;
        font-size: 24px;
        line-height: 145%;
        color: rgba(0, 0, 0, 0.85);
    }
}