//colors
$white: #ffffff;
$black: rgb(29, 41, 49);
$text-link: #bbbbcb;
$gray: rgba(127, 127, 127, 0.5);
$gray-text: rgba(0, 0, 0, 0.5);
//special-color
$input-hover-border: rgba(29, 41, 49, 0.6);
//width
$mobile-width: 370px;
$tablet-width: 768px;
$fixed-width: 1920px;
//fonts
